.portfolioList {
  margin-right: 30px;
  padding: 7px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10px;
  transition: all 1s ease;
  &:hover {
    background-color: white;
    color: darkslategray;
  }
  &.active {
    background-color: white;
    color: darkslategray;
  }
}
