.experience {
  background-color: white;
  color: darkseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0vw;
    transition: all 1s ease-out;
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        text-decoration: none;
        width: 700px;
        height: 90%;
        background-color: darkseagreen;
        color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease-in-out;
        &:hover {
          width: 750px;
          height: 95%;
          background-color: darkslategray;
          color: white;

          .right {
            font-weight: 900;
            h2 {
              font-size: 22px;
            }
            h5 {
              font-size: 18px;
            }
            h3 {
              font-size: 20px;
              color: red;
            }
          }
        }
        .left {
          flex: 4;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;
          .imgContainer {
            width: 80%;
            height: 80%;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            align-items: center;
            background-color: white;
            img {
              transform: rotate(-20deg);
              object-fit: cover;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          align-items: flex-start;
          overflow: hidden;
          h2 {
            font-size: 20px;
            transition: all 2s ease;
          }
          h3 {
            font-size: 18px;
            transition: all 2s ease;
          }
          h5 {
            font-size: 15px;
            transition: all 2s ease;
          }
        }
      }
    }
  }
  .leftArrow {
    cursor: pointer;
    position: absolute;
    left: 100px;
    width: 100px;
    height: 100px;
    animation: blinkArrow 5s infinite;
    @keyframes blinkArrow {
      100% {
        opacity: 0;
      }
    }
    &:hover {
      animation: none;
    }
  }
  .rightArrow {
    cursor: pointer;
    position: absolute;
    right: 100px;
    width: 100px;
    height: 100px;
    animation: blinkArrow 5s infinite;
    @keyframes blinkArrow {
      100% {
        opacity: 0;
      }
    }
    &:hover {
      animation: none;
    }
  }
}
